.body {
    margin: 0 auto;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    background: #000000;
    overflow: hidden;
}
.link {
    text-decoration: none;
    color: #fff;
}
.container {
    position: relative;
    display: flex;
    flex-direction: column;
    grid-gap: 10px;
}
.container .beforeText .text {

   position: relative;
   display: inline-block;
   padding: 6px 15px;
   text-decoration: none;
   background: #358f96;
   color: #fff; 
   text-transform: uppercase;
   letter-spacing: 2px;
   overflow: hidden;
   transition: 0.5s;
   z-index: 1;
   border-radius: 5px;
   cursor: pointer;
}
.container .beforeText:before {
    content: attr(data-text);
    position: absolute;
    top: -100%;
    left: 50%;
    transform: translate(-50%, 50%);
    color: #fff;
    font-size: 10em;
    font-weight: 700;
    pointer-events: none;
    opacity: 0;
    letter-spacing: 20px;
    transition: 0.5s;
    white-space: nowrap;
}
.container .beforeText:hover:before {
    opacity: 0.10;
    letter-spacing: 20px;
}
.container:hover .beforeText .text {
    opacity: 0;
}
.container .beforeText .text:hover {
    transform: scale(1.4);
    z-index: 1000;
    background: #f158d0;
    opacity: 1;
}
.container .beforeText .text:before {
    content: '';
    position: absolute;
    top: 0;
    left: -100px;
    width: 80px;
    height: 100%;
    background: linear-gradient(90deg,transparent, rgba(255,255,255,0.8), transparent);
    transform: skewX(35deg);
    transition: 0s;
}
.container .beforeText .text:hover:before {
    left: calc(100% + 100px);
    transition: 1.5s;
    transition-delay: 0.2s;

}